#heading {
    text-align: center;
    text-transform: inherit;
    font-family: monospace;
    color: rgb(235, 161, 52);
    font-size: xx-large;
}
#info{
    font-size: 35px;
    text-align: center;
    font-family: monospace;
    color: rgb(235, 161, 52);
}
#glo:hover{
   transform: scale(1.5);
   
}