#heading {
    text-align: center;
    text-transform: inherit;
    font-family: monospace;
    color: rgb(235, 161, 52);
    font-size: xx-large;
}
#info{
    font-size: 35px;
    text-align: center;
    font-family: monospace;
    color: rgb(235, 161, 52);
}
#glo:hover{
   transform: scale(1.5);
   
}
#info2{
    color: rgb(235, 161, 52);
    font-size: larger;
    font-family: monospace;
}
#offcanvasLabel{
    color: red;
    font-size: xx-large;
}
#home{
font-size: x-large;
}
#floatingTextarea{
    color: darkgreen;
}
#comment{
    font-size: large;
    font-family: monospace;
}